body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content:center ;
    background-color: #042566;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}
section{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.formmod{
    display: grid;
    border: 2px solid #042566;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 30px grey;
}
.buttoncenter{
    display: flex;
    justify-content: center;
}
.button1{
    border: none;
    background-color: #5cb85c ;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: flex;
}
form label{
    font-size: 20px;
    font-weight: bold;
}
.form-row{
   display: flex;
   justify-content: space-between;
   align-items: center;
   line-height: 33px;
}
.form-row label{
    flex-basis: 300px;
    margin-right: 20px;
}
.form-row input{
    padding: 15px;
    width: 80%;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}
.form-row input:hover{
    box-shadow: 5px 5px 10px grey;
}
.button1:hover{
    background-color: #089508;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #042566;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}